include versioneer.py
include q2_birdman/_version.py
include q2_birdman/assets/diff_abundance_plots/index.html
include q2_birdman/assets/diff_abundance_plots/*.html
include q2_birdman/assets/diff_abundance_plots/*.css
include q2_birdman/assets/diff_abundance_plots/*.js
